<h1><%= t 'mwelcome'%>, <%= @sender.name %></h1>

<p>
  <%= t 'success_sign'%>
</p>
<p>
  <%= t('msg_text', :name => @recipient.name , :email => @recipient.email)%>
</p>
<blockquote>
  &#8220;<%=@msg.content%>&#8221;
</blockquote>
<p>
  <%= t 'msg_confirm'%>
</p>
<%= link_to t('activate_btn'), @url, :class => "button white" %>
<p><%= t 'msg_thanks'%></p>
