<h1><%= t 'msg_hey', :name => @sender.first_name%></h1>

<p><%= t 'msg_time'%></p>
<p><%= t 'msg_pick'%></p>
<%= render(:partial => "message", :collection => @messages, :locals => { :sender => @sender, :recipient => @recipient}) %>
<p><%= t 'msg_hear'%> </p>
