<h1><%=t 'mwelcome'%>, <%= @sender.name %></h1>

<p>
  <%= t 'success_sign'%>
</p>
<p>
  <%= t 'msg_sent', :name => @recipient.name, :email => @recipient.email%>
</p>
<blockquote>
  &#8220;<%=@msg.content%>&#8221;
</blockquote>
<p><%= t 'msg_end', :name => @recipient.first_name%></p>
<p><%= t 'msg_thanks'%></p>
