<h1>Welcome to yourLove.ly, <%= @sender.name %></h1>

<p> 
  You have successfully signed up to yourLove.ly service.
</p>
<p>
  Your lovecard to <%=@recipient.name%> was just sent at 
  <%=@recipient.email%> with the following text:
</p>
<blockquote>
  &#8220;<%=@msg.content%>&#8221;
</blockquote>
<p>From now on, until you decide not to, we'll send you from time to time 
   reminders with love words to be sent to <%=@recipient.first_name%>.</p>
<p>Thanks for joining and have a great day!</p>
