<div>
	<%= form_tag do %>
		<div class="field">
      		<label for="name" >Username:</label><br />
      		<%= text_field_tag :username, params[:username], :size => 30 %>
    	</div>
		<div class="field">
      		<label for="password" >Password:</label><br />
      		<%= password_field_tag :password, params[:password], :size => 30 %>
    	</div>
    	<div class="actions">
      		<%= submit_tag "Login" %>
    	</div>  
	<% end %>
	<br>
	<%= link_to "Forgot password?", admin_reset_path%>
</div>