<ul class="buttons white">
<li>
  <a href="/auth/twitter" rel="external" class="tw"><%=t 'sign_in'%> Twitter</a>
</li>
<li>
  <a href="/auth/facebook" rel="external" class="fb"><%=t 'sign_in'%> Facebook</a>
</li>
<li>
  <a href="/auth/linked_in" rel="external" class="li"><%=t 'sign_in'%> LinkedIn</a>
</li>
<li>
  <a href="/auth/yahoo" rel="external" class="yh"><%=t 'sign_in'%> Yahoo!</a>
</li>
<li>
  <a href="/auth/google" rel="external" class="gg"><%=t 'sign_in'%> Google</a>
</li>
</ul>
