<div data-role="footer" data-id="footer" data-position="fixed" role="contentinfo" class="mobile-footer">
  <div data-role="navbar" role="navigation">
    <ul class="ui-grid-b">
      <li class="ui-block-a">
        <a href="#home" data-role="button" data-icon="home" class="<%= 'ui-btn-active ui-state-persist' if footer == 'a'%>" ><%= t "home"%></a>
      </li>
      <li class="ui-block-b">
        <a href="#settings" data-role="button" data-icon="gear" class="<%= 'ui-btn-active ui-state-persist' if footer == 'b'%>" ><%= t "settings"%></a>
      </li>
      <li class="ui-block-c">
        <a href="#about" data-role="button" data-icon="grid" class="<%= 'ui-btn-active ui-state-persist' if footer == 'c'%>" ><%= t "about"%></a>
      </li>
    </ul>
  </div>
</div>
