<li>
<a href="<%=letter.status!='SENT' ? '#' : letter_url(letter.id)%>" data-rel="dialog">
<%if letter.status!='SENT'%>
  <h2><%= t "next_msg"%> <%= l letter.sent, :format => :short if letter.sent%></h2>
<%else%>
  <h2><%=t "sent"%> <%= l letter.sent, :format => :short if letter.sent%></h2>
  <blockquote style="white-space:normal"><%= letter.message.content%></blockquote>
<%end%>
</a>
<%= link_to t("resend"), resend_url if letter.pending?%>
</li>
