<%if !user_signed_in? %>
<div data-role="page" id="splash" class="pagecontainer">
  <div data-role="header" data-position="fixed">
    <h2>yourLove.ly</h2>
  </div>
  <article data-role="content">
    <h3>The only app to garantee your happyness with your love one !</h3>
    <p>Please signin with any of the sites below. </p>
    <%=render 'shared/auth'%>
    <p>We are using them only for your convenience. We will
      never post anything there without your explicit permission. That's a prommise!</p>
  </article>
</div>

<%else%>
<%@sender = current_user%>
<div data-role="page" id="sigin" class="pagecontainer">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel"> 
      <h2>Lovecards for <%=@sender.recipient.name%></h2>
      <%=link_to "I f.u.c.k.e.d up badly!", root_path, :'data-role' => "button", :'data-icon' => "alert", :'data-theme' => "b"%>
      <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b" data-split-icon="refresh" data-split-theme="b"> 
        <li data-role="list-divider"> <%= Time.now.to_date%> <span class="ui-li-count"><%=@sender.letters.count-1%></span></li>
        <%= render(:partial => "letter", :collection => @sender.letters, :locals => { :sender => @sender}) %>
      </ul>
    </div>
  </article>
  <%=render :partial => 'shared/footer', :object => "a" %>
</div>


<%end%>
