<%if !user_signed_in? %>
<div data-role="page" id="auth" class="pagecontainer" data-url="/">
  <div data-role="header" data-position="fixed">
    <%= render :partial => 'shared/locale'%>
    <h2>yourLove.ly</h2>
    <%= link_to t("signout"), signout_url, :class => "ui-btn-right", :'data-icon' => "delete"%>
  </div>
  <article data-role="content">
    <h3><%= t 'the_only_app'%></h3>
    <p><%= t 'please_sign'%></p>
    <%= auth_buttons 'sign_in', {:rel => "external"}, "twitter", "facebook", "google", "yahoo", "linked_in"%>
    <p><%= t 'promisse'%></p>
  </article>
</div>

<%else%>
<%@sender = current_user%>
<div data-role="page" id="home" class="pagecontainer" >
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel"> 
      <%=link_to t('panic'), "#panic", :'data-role' => "button", :'data-icon' => "alert", :'data-theme' => "f"%>
      <h2><%= t 'lovecards'%> <%=@sender.recipient.name%></h2>
      <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b" data-split-icon="refresh" data-split-theme="b"> 
        <li data-role="list-divider"> <%= Time.now.to_date%> <span class="ui-li-count"><%=@sender.letters.count-1%></span></li>
        <%= render(:partial => "letter", :collection => @sender.letters(true), :locals => { :sender => @sender}) %>
      </ul>
    </div>
  </article>
  <%=render :partial => 'shared/footer', :object => "a" %>
</div>

<div data-role="page" id="settings" class="pagecontainer" >
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel">
      <h2><%= t 'settings'%></h2>
      <%=link_to t('your_settings'), edit_sender_url(current_user), :'data-role' => "button", :'data-rel'=>"dialog", :'data-icon' => "gear"%>
      <%=link_to t('her_settings'), edit_recipient_url(current_user.recipient), :'data-role' => "button", :'data-rel'=>"dialog", :'data-icon' => "gear"%>
      <%=link_to t('destroy_all'), current_user, :method => 'delete', :'data-role' => "button", :'data-rel'=>"dialog", :'data-icon' => "gear"%>
    </div>
  </article>
  <%=render :partial => 'shared/footer', :object => "b" %>
</div>

<div data-role="page" id="about" class="pagecontainer">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel">
      <h2><%= t 'about'%></h2>
      <% if "twitter facebook".include? current_user.provider%>
        <%= auth_buttons('promote_on', {:'data-rel'=>"dialog"}, current_user.provider)%>
      <%else%>
        <%=current_user.provider%>
      <%end%>
    </div>
  </article>
  <%=render :partial => 'shared/footer', :object => "c" %>
</div>

<div data-role="page" id="panic" class="pagecontainer">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel">
      <h2><%= t 'how_bad'%></h2>
      <%= render :partial => 'panic'%>
    </div>
  </article>
  <%=render :partial => 'shared/footer', :object => "a" %>
</div>
<%end%>
