<%= form_for(@sender) do |f| %>
  <p><%=t "edit_sender"%>:</p>
  <%= f.text_field :nickname, :placeholder => t("first_name") %>
  <%= f.text_field :signature, :placeholder => t("your_sign") %>
<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal">
  <%= f.radio_button :lang, 'en' %>
  <%= f.label :lang_en, 'En' %>
  <%= f.radio_button :lang, 'ro' %>
  <%= f.label :lang_ro, 'Ro' %>
  </fieldset>
</div>
  <button type="submit" name="submit" value="submit-value"><%= t "submit"%></button>
<% end %>
