<%= form_for(@sender) do |f| %>
  <p>Change your nickname and signature:</p>
  <% if @sender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sender.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul><% @sender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :nickname, :placeholder => "First Name" %>
  <%= f.text_field :signature, :placeholder => "Your Signature" %>
  <button type="submit" name="submit" value="submit-value">Submit</button>
<% end %>
