<%= form_for current_user, :url => sign_path do |f| %>
  <div>Your</div>
  <label class="input first">
    <span>First Name</span>
    <%= f.text_field :first_name %>
  </label>
  <label class="input last">
    <span>Last Name</span>
    <%= f.text_field :last_name %>
  </label>
  <label class="input">
    <span>Email</span>
    <%= f.text_field :email %>
  </label>
  <div style="clear:both;"></div>
  <hr />
  <%= f.fields_for :recipients do |fr| %>
    <div>Your Lovely's</div>
    <label class="input first">
      <span>First Name</span>
      <%= fr.text_field :first_name %>
    </label>
    <label class="input last">
      <span>Last Name</span>
      <%= fr.text_field :last_name %>
    </label>
    <label class="input">
      <span>Email</span>
      <%= fr.text_field :email %>
    </label>
  <% end %>
  <div style="clear:both;"></div>
  <%= f.submit%>
<% end %>

<%= render "shared/error_messages", :target => current_user %>
