<%= form_for @sender, :url => sign_path do |f| %>
  <ul class="rounded">
    <li><%= f.text_field :first_name, :placeholder => "First Name", :class => 'left' %>
        <%= f.text_field :last_name, :placeholder => "Last Name", :class => 'right' %></li>
    <li><%= f.text_field :email, :placeholder => "E-Mail" %></li>
  </ul>
    <%= f.fields_for :recipients do |fr| %>
    <ul class="rounded">
      <li><%= fr.text_field :first_name, :placeholder => "First Name", :class => 'left' %>
          <%= fr.text_field :last_name, :placeholder => "Last Name", :class => 'right' %></li>
      <li><%= fr.text_field :email, :placeholder => "E-Mail" %></li>
    </ul>
    <% end %>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>