<%= form_for @sender, :url => sign_path do |f| %>
  <%= render "shared/error_messages", :target => @sender %>
  <legend>Your</legend>
  <label class="input first">
    <span>First Name</span>
    <%= f.text_field :first_name %>
  </label>
  <label class="input last">
    <span>Last Name</span>
    <%= f.text_field :last_name %>
  </label>
  <label class="input">
    <span>Email</span>
    <%= f.text_field :email %>
  </label>
  <div style="clear:both;"></div>
  <hr />
  <%= f.fields_for :recipients do |fr| %>
    <legend>Your Lovely's</legend>
    <label class="input first">
      <span>First Name</span>
      <%= fr.text_field :first_name %>
    </label>
    <label class="input last">
      <span>Last Name</span>
      <%= fr.text_field :last_name %>
    </label>
    <label class="input">
      <span>Email</span>
      <%= fr.text_field :email %>
    </label>
  <% end %>
  <div style="clear:both;"></div>
  <%= f.submit%>
<% end %>
