<div data-role="page" id="messages" class="pagecontainer">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel"> 
    <h2><%=t "mesages"%>:</h2>
    <p><%= t "choose_msg", :name => @sender.recipient.name, :first_name => @sender.recipient.first_name%></p>
    <p>
      <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
        <li data-role="list-divider"> <%= Time.now.to_date%> <span class="ui-li-count">3</span></li>
        <%= render(:partial => "message", :collection => @messages, :locals => { :sender => @sender}) %>
      </ul>
    </p>
    </div>
  </article>
</div>
