<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <header id="header">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <nav>
        <ul>
          <%=render 'shared/navigation'%>
        </ul>
      </nav>
    </header>   

    <div id="container">
      <ul class="hmenu">
      </ul>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
